.App {
   text-align: center;
   background: linear-gradient(
      45deg,
      #50c878,
      #c8a2c8,
      #00ffef,
      #50c878,
      #c8a2c8,
      #00ffef
   );
   height: 100vh;
}

.App-header {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.styled-text {
   justify-content: center;
   font-size: calc(10px + 5vmin);
   color: black;
   scale: 50%;
   z-index: 1;
}

.spinning-text {
   animation: App-logo-spin infinite 20s linear;
   color: white;
   z-index: 0;
   scale: 100%;
   position: fixed;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
